<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Review added successfully</title>
</head>
<body>
    <h1>Review added successfully</h1>
    <p>User: <span data-th-text="${review.user}"></span></p>
    <p>Rating: <span data-th-text="${review.rating}"></span></p>
    <p>Comment: <span data-th-text="${review.comment}"></span></p>
    <p>Game ID: <span data-th-text="${review.gid}"></span></p>
    <p>Posted: <span data-th-text="${review.posted}"></span></p>
    <p>Board Game: <span data-th-text="${review.boardgame}"></span></p>
</body>
</html>
